<div class="parent">
<div class="ring">
    <!-- <i style="--clr:#00ff0a;"></i> -->
    <i style="--clr:#5BFF89;"></i>
    <!-- <i style="--clr:#ff0057;"></i> -->
    <i style="--clr:#FF64F9;"></i>
    <!-- <i style="--clr:#fffd44;"></i> -->
    <!-- <i style="--clr:#FFEE55;"></i> -->
    <i style="--clr:#4D8AFF;"></i>
    <!-- <i style="--clr:#FF6D1B;"></i>
    <i style="--clr:#FF6565;"></i>
    <i style="--clr:#6B5FFF;"></i> -->

    <div class="login">
      <h4>L o g i n</h4>
      <div class="inputBx">
        <input type="text" placeholder="U s e r n a m e .">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="P a s s w o r d .">
      </div>
      <div class="inputBx">
        <button>Sign-In</button>
    </div>
      <div class="links">
        <a href="#">Forget-Password</a>
        <a href="#">Sign-Up</a>
      </div>
    </div>
  </div>
</div>